<div class="fixed-frame pd-10 flex-center">
	<div class="dark-layer clear-layer"></div>
	<form class="card container relative kageshibari" style="z-index:20">
		<div class="row" layout="vertical">
			<div class="container pd-half turtle-green">
				<h2 class="form-title">
				<!-- Form title in here  -->
				</h2>
			</div>
		</div>
		<div class="row paper-roll" layout="vertical">
			<ul class="panel-content">
				<li class="row">
					<div class="quarter-box flex-center vertical-center form-container">
						<label class="data-label">
						<!-- Label name in here -->
						</label>
					</div>
					<div class="box-75 space-between data-input relative">
					<!-- Form input in here -->
					</div>
				</li>
			</ul>
		</div>
		<div class="row pd-half clear-pd-top endpos">
			<button class="btn blood" button-control="form-cancel">CANCEL</button>
			<button class="btn waterboom mg-left-2" button-control="form-insert">SIMPAN</button>
		</div>
	</form>
</div>

