<div class="container small-mg-btm">
	<button class="btn blood">DELETE QUESTION CATEGORY</button>
	<div class="row card mini">
		<div class="container row">
			<div class="half-box">
				<form class="card mini row" action-path="kategori-pertanyaan/update">
					<div class="linebreak number-label orange flex-center kageshibari">
						<!-- Numbering -->
					</div>
					<div class="card-title question-category-label" contenteditable="true" name="question-category-name">
						<!-- Name of question category -->
					</div>
				</form>
			</div>
			<div class="half-box card mini" style="border-left:1px solid #f2f2f2;">
				<div class="list-question"></div>
				<div class="button-container container endpost">
					<div class="waterboom btn"><i class="fa fa-file-text"></i></div>
				</div>
			</div>
		</div>
	</div>
</div>