<div class="view-container container">
	<!-- Header section -->
	<div class="jumbo-header">
		<h1 class="page-title">
			<!-- Title of current page here -->
		</h1>
	</div>
	<!-- ............... -->

	<!-- Content section -->
	<div class="mg-top-1 container pd-10">
		<div class="row" layout="vertical">
			<!-- Some explanation -->
			<div class="endpos container">
				<div class="explanation fourth-box kageshibari card">
					<div class="blood pd-3">Summary</div>
					<ul class="panel-content">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			<!-- ............... -->
			<!-- Table section -->
			<div class="container content-wrapper card mg-top-half kageshibari">
				<div class="mg-top-half space-between mg-right-2 mg-left-2">
					<div class="data-watching row">
						<input type="text" class="searching-text" placeholder="Pencarian...." title="Write keyword and press ENTER to searching data">
						<button type="search" class="search-button" title="Write keyword and CLICK THIS BUTTON to searching data">CARI</button>
					</div>

					<div class="right-panel">
					<!-- Button that display at top-right table -->
					</div>
				</div>
				<table class="container mg-top-half" border="1" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
						<tr form-control="true">
                            <input type="hidden" name="id">
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
							<td contenteditable="true"></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- ............... -->
		</div>
	</div>
	<!-- ............... -->
</div>