

/*=================================================================
	Portfolio
==================================================================*/
#dashboard .sec-title{
    width: 100%;
    padding:0;
    -webkit-padding-start:0px;
}
#dashboard .h1{
    text-align: center;
    background-color: #2d7baf; 
    padding: 20px 100px; 
    text-align: center;
    color: #fff; 
}

#dashboard .p{
   text-align: center;
    background-color: #2d7baf; 
    padding: 20px 100px;
    margin-top: -40px; 
    text-align: center;
    color: #fff;
}

#dashboard .buttonlogout{
  position:relative;
  text-align: center;
  padding:15px;
  background:#3498db;
  color:#fff;
  outline:0;
  font-weight:400;
  text-shadow:1px 1px 0px #2d7baf;
  box-shadow:0px 3px 0px #2d7baf;
}

#dashboard .project-wrapper {
    margin: 0;
    list-style: none;
    text-align: center;
}

#dashboard .project-wrapper li {
    display: inline-block;
}

#dashboard .portfolio-item {
    cursor: pointer;
    margin: 5%;
    margin-left: 100px;
    overflow: hidden;
    position: relative;
    width: 10%;
}

#dashboard .row{
    margin-left: -100px;
}

#dashboard figcaption.mask {
    background-color: rgba(54, 55, 50, 0.79);
    bottom: -126px;
    color: #fff;
    padding: 25px;
    position: absolute;
    width: 100%;
    text-align: left;
    
    -webkit-transition: all 0.4s ease 0s;
       -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
         -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}

#dashboard .portfolio-item:hover figcaption.mask {
    bottom: 0;
}

#dashboard figcaption.mask h3 {
    margin: 0;
    color: #fff;
}

#dashboard ul.external {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -47px;
    
    -webkit-transition: all 0.4s ease 0s;
       -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
         -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}

#dashboard ul.external li {
    display: inline-block;
}


#dashboard .portfolio-item:hover ul.external {
    top: 0;
}

#dashboard .fancybox-skin {
    border-radius: 0;
}

#dashboard .fancybox-title.fancybox-title-inside-wrap {
    padding: 15px;
}

#dashboard .fancybox-title h3 {
    margin: 0 0 15px;
}

#dashboard .fancybox-title p {
    color: #818181;
    font-size: 16px;
    line-height: 22px;
}

#dashboard .fancybox-title-inside-wrap {
    padding-top: 0;
}


/*============================================================
	Footer
==============================================================*/

#dashboard #footer {
    background-color: #2E2E2E;
    padding: 30px 0;
    color: #fff;
    margin-top: 50px;
    text-align: center;
}

#dashboard .footer-content {
    width: 390px;
    margin: 0 auto;
}

#dashboard .footer-content > div {
    margin-bottom: 40px;
}

#dashboard .footer-content > div > p:first-child {
    margin-bottom: 15px;
    text-transform: uppercase;
}


#dashboard #sidebar{
    border:1px solid #e6e6e6;    
    background-color: #fff;
    padding: 0 .4cm;
}

#dashboard .sidebarp{
    color: black;
    font-size: 23px;
    text-align: center;
    padding:0.8cm 0;
}
#dashboard .sidebarp:not(:last-child) {
    border-bottom:1px solid #e6e6e6;
}
#dashboard .pp{
    text-align: center;
}
#dashboard .ppp{
    text-align: center;
}

#dashboard .footer-social ul li a:hover {
    color: #009EE3;
}

#dashboard .footer-content > p {
    color: #ababab;
    font-size: 12px;
}